// variables---------
$graycolor: rgb(158, 158, 158);
$darkGraycolor: rgb(143, 143, 143);
$shadeGraycolor: rgb(83, 95, 101);
$plusDarkGrayColor: rgb(119, 118, 118);
$lightGrayColor: rgb(241, 241, 241);
$bluecolor: rgb(81, 187, 235);
$dark-blue: rgb(0, 173, 223);
$redColor: rgb(212, 44, 39);
$whiteColor: rgb(255, 255, 255);
$greenBtnColor: rgb(0, 189, 104);
$darkBluecolor: rgb(31, 54, 77);
$lightBluecolor: #6f8ba4;
//---------------- 